<h1 class="visually-hidden">Agenda</h1>
<app-barra-comandos
    (eventoBusca)="get($event)"
    linkForm="/agenda-form"></app-barra-comandos>
<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Paciente</th>
            <th>Profissional</th>
            <th>Unidade</th>
            <th>Convênio</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of registros">
            <td class="fit">{{ item.data | date: 'dd/MM/yyyy' }}</td>
            <td class="fit">{{ item.hora | slice:0:5 }}</td>
            <td>{{ item.paciente_nome }}</td>
            <td>{{ item.profissional_nome }}</td>
            <td>{{ item.unidade_nome }}</td>
            <td>{{ item.convenio_nome ? item.convenio_nome : 'Sem convênio' }}</td>
            <td>
                <a (click)="updateStatus(item.id)"
                   href="javascript:void(0)"
                   class="botao chegada"
                   [ngClass]="{ 'inativo': item.status == 'AGENDADO'}">Chegada</a>
                <a (click)="updateStatus(item.id)"
                   href="javascript:void(0)"
                   class="botao confirmacao"
                   [ngClass]="{ 'inativo': item.status == 'CONFIRMADO'}">Confirmar</a>
                <a routerLink="/agenda-form"
                   [queryParams]="{id: item.id}"
                   class="botao">Editar</a>
                <a (click)="delete(item.id)"
                   href="javascript:void(0)"
                   class="botao excluir">Cancelar</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <span *ngIf="registros.length > 0">Total de registros: {{ registros.length }}</span>
                <span *ngIf="registros.length == 0">Nenhum registro encontrado</span>
            </td>
        </tr>
    </tfoot>
</table>
